<header class="container">
  <a href="<%= clientBase %>index.html" class="logo"><%= site.name || site.title || 'Accueil' %></a>
  <nav>
    <a href="<%= clientBase %>index.html">Accueil</a>
    <a href="<%= clientBase %>contact.html">Contact</a>
    <a href="<%= clientBase %>mentions.html">Mentions légales</a>
  </nav>
</header>
